<mat-toolbar class="header">
  <div class="left">
    <a href="#" routerLink="/">JovethTecnologia 💻</a>
  </div>
  <div class="rigth">
    <nav>
      <ul>
        <li>
          <a href="">Carrinho</a>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" align="start" opened>
        hola
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
      <div class="content ">
        Main
      </div>
    </mat-sidenav-content>

</mat-sidenav-container>
