<mat-toolbar class="header">
  <div class="left">
    <span mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </span>
    <a href="#" routerLink="/admin">JovethTecnologia 💻</a>
  </div>
  <div class="rigth">
    <div class="menu-toolbar">
      <mat-icon>help</mat-icon>
      <mat-icon>settings</mat-icon>
      <img class="img" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" alt="">

    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
      <div class="avatar">
        <img class="img" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" alt="">
      <h4 class="name">Djon Vindeisel</h4>
      <p class="funcao">Engenheiro de Software</p>
      </div>
      <mat-divider></mat-divider>
        <a class="menu-button" routerLink="/admin">
          <mat-icon>home</mat-icon>
          <span>Início</span>
        </a>
        <a class="menu-button" href="#" routerLink="/admin/employees">
          <mat-icon>group</mat-icon>
          <span >Funcionários</span>
        </a>
        <a class="menu-button">
          <mat-icon>apps</mat-icon>
          <span>Projectos</span>
        </a>
        <a class="menu-button" href="#" routerLink="/admin/chat">
          <mat-icon>sms</mat-icon>
          <span>Chat</span>
        </a>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
      <div class="content ">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

</mat-sidenav-container>
