<div class="header">
  <mat-toolbar class="mat-toolbar">

    <div class="left">
      <a href="#" routerLink="/">JT Fast Food😋</a>
    </div>
    <div class="rigth">
      <nav>
        <ul>
          <li>
            <div class="userProfile" routerLink="/fastFood/cart-page"><span class="link">Carrinho</span></div>
          </li>
          <ng-container *ngIf="users$ | async as user; else loginButton">
            <li>
              <div  class="userProfile" [mat-menu-trigger-for]="userMenu">
                <img class="profile-image" width="30px" height="30px" [src]="user.photoURL ?? '/src/assets/images/icons/profile.png'" />
               <span>{{user.name}}</span>
                <mat-icon>expand_more</mat-icon>
              </div>
            </li>
          </ng-container>
         <ng-template #loginButton>
          <li>
            <button (click) ="logout()">
              <mat-icon>logout</mat-icon>Logout
            </button>
          </li>
         </ng-template>

        </ul>
      </nav>
    </div>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click) ="logout()">
    <mat-icon>login</mat-icon>
    Sair
  </button>
  <button mat-menu-item (click) ="verPerfil()">
    <mat-icon>person</mat-icon>
    Perfil
  </button>

</mat-menu>


