<div class="header">
  <mat-toolbar class="mat-toolbar">

    <div class="left">
      <a href="#" routerLink="/">JT Fast Food😋</a>
    </div>
    <div class="rigth">
      <nav>
        <ul>
          <li>
            <button mat-button routerLink="/fastFood/cart-page">Carrinho</button>
          </li>
          <ng-container *ngIf="users$ | async as user; else loginButton">
            <li>
              <button mat-button class="userProfile" [mat-menu-trigger-for]="userMenu">
                <mat-icon>account_circle</mat-icon>{{user.name}}
                <mat-icon>expand_more</mat-icon>
              </button>
            </li>
          </ng-container>
         <ng-template #loginButton>
          <li>
            <button (click) ="logout()">
              <mat-icon>logout</mat-icon>Logout
            </button>
          </li>
         </ng-template>

        </ul>
      </nav>
    </div>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click) ="logout()">
    <mat-icon>login</mat-icon>
    Sair
  </button>
  <button mat-menu-item (click) ="verPerfil()">
    <mat-icon>person</mat-icon>
    Perfil
  </button>

</mat-menu>


